		</div>
		<!-- Scripts -->
		<script src="<%= app_path %>/libraries/jquery.min.js"></script>
		<script src="<%= app_path %>/libraries/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
		<% if(title=="main") { %>
			<!-- <script src="<%= app_path %>/libraries/..."></script> -->
		<% } %>
	</body>
</html>
